.main-footer {
    padding: 50px 0;
    background: $darkgreen1;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mail,
    &__phone {
        font-size: 25px;
        font-weight: lighter;
        transition: 0.3s;
        border-bottom: 1px solid transparent;
        color: $lightgray;

        &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
        }

        &:active {
            color: $darkorange;
            border-bottom: 1px solid $darkorange;
        }

    }

    &__phone {
        font-weight: normal;
        font-size: 23px;
    }
}