.main-footer {
    padding: 50px 0;
    background: $mint;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__mail,
    &__phone {
        font-size: 25px;
        font-weight: lighter;
        transition: 0.3s;
        border-bottom: 1px dotted transparent;

        &:hover {
            color: $pink;
            border-bottom: 1px dotted $pink;
        }

        &:active {
            color: $lightpink;
            border-bottom: 1px dotted $lightpink;
        }

    }

    &__phone {
        font-weight: normal;
        font-size: 23px;
    }
}