.intro {
    position: relative;
    overflow: hidden;
    // background: linear-gradient(104deg, 
    //     #D9E2DE 20%, 
    //     white 20%, white 40%, 
    //     #ffe9eb 40%, #ffe9eb 70%,
    //     $pink 70%, $pink 90%,
    //     $darkpink 90%
    // );

    .container {
        height: 100vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__content {
        width: 50%;
        z-index: 2;
        transition: 0.5s;
        color: white;

    }
    &__text {
        max-width: 450px;
        font-size: 20px;
        line-height: 36px;
    }

    &__img {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0%;
        z-index: 2;
        transition: 3s;
        z-index: 0;

        img {
            object-fit: cover;
            object-position: 100% 0;
        }
    }

    &__decor {
        position: absolute;
        height: 50vh;
        width: 10%;
        z-index: 1;
        transition: 0.5s;

        // &--left {
        //     left: 0;
        //     top: 0;
        //     background: $lightgreen;
        //     transform: translate(-51%, 0) skew(-22deg, 0deg);
        // }
    
        // &--right {
        //     right: 0;
        //     bottom: 0;
        //     background: $darkgreen1;
        //     transform: translate(51%, 0) skew(-22deg, 0deg);
        // }

        // &--left {
        //     left: 0;
        //     width: 60%;
        //     transform: translate(-20%, 0) skew(-15deg, 0deg);
        //     background: linear-gradient(to right, 
        //         $lightgreen 40%,  
        //         $lightgreen1 40%, $lightgreen1 80%, 
        //         $green 80%
        //     );
        // }
    
        // &--right {
        //     right: 0;
        //     width: 30%;
        //     transform: translate(40%, 0) skew(-15deg, 0deg);
        //     background: linear-gradient(to right, 
        //         $darkgreen 55%, 
        //         $darkgreen1 55%
        //     );
        // }
    }
}