.main-nav {

    &__list {
        position: absolute;
        display: block;
        bottom: 0px;
        right: -100vw; 
        transform: translate(0, 100%);
        width: 100vw;
        background: $lightpink;
        transition: 0.3s;
        box-shadow: inset 0 10px 10px -15px $darkgray;

        &.open {
            right: 0
        }
    }

    &__item {
        &:hover {
            background: $lightpink;
        }
    }

    &__link {
        padding: 20px 0;
        text-align: center;
        display: inline-block;
        width: 100%;
        height: 100%;
        font-size: 16px;
        color: $pink;
        box-sizing: border-box;

        &.active {
            color: $darkpink;
        }
    }

    &__burger {
        position: relative;
        display: block;
        transform: translate(0, -50%);
        margin-top: 20px;
        width: 35px;
        height: 22px;
        border-top: 2px solid $darkgray;
        border-bottom: 2px solid $darkgray;
        transition: 0.3s;
        cursor: pointer;

        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
            width: 35px;
            height: 2px;
            background: $darkgray;
            transition: 0.3s;
        }

        &.cross {
            background: transparent;
            border: transparent;

            &.main-nav__burger:before  {
                transform: scale(0.9) translate(0, 0) rotate(45deg) ;
            }

            &.main-nav__burger:after  {
                transform: scale(0.9) translate(0, 0) rotate(-45deg);
            }
        }
    }

    @media (max-width: 600px) {
        &__burger {
            transform: scale(0.9);
            margin-top: 10px;
        }

        &__link {
            padding: 15px 0;
        }     
    }
}