.works {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    box-sizing: border-box;
    background: url("../../assets/img/3.jpg")  50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .title {
        margin-bottom: 70px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        position: relative;
        width: 32%;
        padding: 40px 30px;
        padding-bottom: 60px;
        background: rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        overflow: hidden;
    }

    .swiper-pagination-bullets {
        bottom: 45px !important;
    }

    &__item-image img {
        display: block;
        width: 160px;
        height: 160px;
        margin: 0 auto;
        margin-bottom: 25px;
        border-radius: 50%;
        overflow: hidden;
        object-fit: cover;
        filter:grayscale(1) brightness(0.8);
        transition: 0.5s;

        &:hover {
            filter: grayscale(0) brightness(1);
            transform: scale(1.1);
        }
    }

    &__item-name {
        font-size: 26px;
        text-transform: capitalize;
        transition: 0.3s;
        border-bottom: 1px solid transparent;

        &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
        }

        &:active {
            color: $darkorange;
            border-bottom: 1px solid $darkorange;
        }
    }

    &__description {
        position: relative;
        width: 65%;
        padding: 50px;
        background: rgba(255, 255, 255, 0.7);
        box-sizing: border-box;
        text-align: left;
 
        .text {
            margin-bottom: 100px;
            text-align: left;
        }
    }

    &__description-title {
        margin-bottom: 20px;
        font-weight: normal;
        font-size: 30px;
    }

    &__tags {
        margin-bottom: 20px;
    }

    &__tags-item {
        color: $lightgray;
        background: $orange;
        margin-right: 10px;
        padding: 3px 20px;
        text-transform: uppercase;
    }

    &__description-link-wrapper {
        position: absolute;
        left: 50px;
        bottom: 50px;
        font-size: 18px;
    }

    &__description-link {
        display: block;
        padding-top: 10px;
        font-weight: bold;
        transition: 0.3s;

        &:hover {
            color: $orange;
        }

        &:active {
            color: $darkorange;
        }
    }

    // @media( max-width: 800px) {
    //     padding: 60px 0; 

    //     .text {
    //         margin-bottom: 40px;
    //     }

    //     &__inner,
    //     &__person,
    //     &__skills {
    //         display: block;
    //         width: 100%;
    //     }

    //     &__person {
    //         margin-bottom: 20px;
    //         padding: 50px;
    //     }

    //     &__skills {
    //         padding: 50px;
    //     }

    //     &__person-slide {
    //         display: flex;
    //         justify-content: center;
    //         align-items: center;
    //         text-align: left;
    //     }

    //     &__person-image img {
    //         margin-right: 20px;
    //         margin-bottom: 0;
    //     }

    //     &__person-name {
    //         display: inline-block;
    //         margin-bottom: 15px;
    //     }

    //     .socials {
    //         margin: 0;
    //     }

    //     .owl-theme .owl-nav {
    //         height: 0;
    //     }

    //     .prev {
    //         left: -10px;
    //     }

    //     .next {
    //         right: -10px;
    //     }
    // }

    // @media (max-width: 500px) {
    //     &__burger {
    //         transform: scale(0.9);
    //         margin-top: 10px;
    //     }

    //     &__link {
    //         padding: 15px 0;
    //     }     

    //     &__skills,
    //     &__person {
    //         padding: 30px;
    //     }

    //     &__person-image img {
    //         width: 120px!important;
    //         height: 120px;
    //     }

    //     &__skills-item {
    //         flex-wrap: wrap;
    //     }

    //     &__skills-name {
    //         display: block;
    //         width: 100%;
    //     }

    //     &__skills-decor {
    //         display: block;
    //         width: 80%;
    //         margin-right: auto;
    //     }
    // }
}