.works {
    padding-top: 80px;
    padding-bottom: 100px;
    text-align: center;
    box-sizing: border-box;
    background:  $darkgreen url("../../assets/img/works-bg.jpg")  50% 50% no-repeat;
    background-size: cover;
    background-attachment: fixed;

    .title {
        margin-bottom: 70px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__slider {
        position: relative;
        width: 32%;
        padding: 50px 30px;
        padding-bottom: 120px;
        background: rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        overflow: hidden;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 45px !important;
    }

    &__item-image img {
        display: block;
        background: white;
        width: 200px;
        height: 200px;
        margin: 0 auto;
        margin-bottom: 25px;
        border-radius: 50%;
        object-fit: cover;
        transition: 0.5s;
    }

    &__item-name {
        font-size: 26px;
        text-transform: capitalize;
        transition: 0.3s;
        border-bottom: 1px solid transparent;

        &:hover {
            color: $orange;
            border-bottom: 1px solid $orange;
        }

        &:active {
            color: $darkorange;
            border-bottom: 1px solid $darkorange;
        }
    }

    &__description {
        position: relative;
        width: 65%;
        padding: 50px;
        background: rgba(255, 255, 255, 0.8);
        box-sizing: border-box;
        text-align: left;
 
        .text {
            margin-bottom: 100px;
            text-align: left;
        }
    }

    &__description-title {
        margin-bottom: 20px;
        font-size: 30px;
    }

    &__tags {
        display: flex;
        justify-content: start;
        margin-bottom: 20px;
    }

    &__tags-item {
        color: $lightgray;
        background: $orange;
        margin-right: 10px;
        padding: 3px 20px;
        text-transform: uppercase;
    }

    &__description-link-wrapper {
        position: absolute;
        left: 50px;
        bottom: 50px;
        width: calc(100% - 100px);
        font-size: 20px;
    }

    &__description-link {
        display: block;
        padding-top: 10px;
        transition: 0.3s;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &:hover {
            color: $orange;
        }

        &:active {
            color: $darkorange;
        }
    }

    @media (max-width: 1200px) {
        padding: 50px 0;

        &__inner,
        &__slider,
        &__description {
            display: block;
            width: 100%;
        }

        &__slider {
            margin-bottom: 20px;
            padding-bottom: 90px;
        }

        &__name {
            margin-bottom: 0;
        }
    }

    @media (max-width: 600px) {
        background: $darkgreen url("../../assets/img/works-bg--mobil.jpg")  50% 50% no-repeat;
        background-size: cover;
        background-attachment: fixed;

        .title {
            margin-bottom: 40px;
        }

        &__slider {
            padding: 40px 30px;
            padding-bottom: 80px;
        }

        &__description {
            padding: 40px;

            .text {
                text-align: justify;
            }
        }

        &__description-title {
            text-align: center;
        }

        &__tags {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__tags-item {
            margin-bottom: 10px;
            font-size: 14px;
        }

        &__description-link-wrapper {
            left: 40px;
            width: calc(100% - 80px);
            font-size: 16px;
        }

    }

    @media (max-width: 420px) {

        &__slider {
            padding: 30px 20px;
            padding-bottom: 50px;
        }

        .swiper-pagination {
            bottom: 25px !important;
        }

        &__description {
            padding: 20px;
        }

        &__tags {
            margin-bottom: 0;
        }

        &__description-link-wrapper {
            left: 20px;
            bottom: 30px;
            width: calc(100% - 40px);
        }
    }
}