body {
    font-family: 'Poiret One', 'Arial', cursive;
    color: $darkgray;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: $darkgray;
}

input, textarea, button {
    background: none;
    border: none;
    resize: none;
    padding: 0;

    &:focus {
        outline: none;
    }
}

img {
    object-fit: cover;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.main-title {
    font-size: 65px;
    margin-bottom: 10px;
}

.title {
    display: inline-block;
    font-size: 50px;
    margin-bottom: 40px;
    text-transform: capitalize;

    &--light {
        color: white;
    }
}

.text {
    font-size: 18px;
    line-height: 30px;
}

.counter {
    display: inline-block;
    width:150px;
    height:150px;
    position:relative;
    transition: height .2s ease-in-out;
    border-radius:50%;

    .percentage {
        position:absolute;
        font-size: 30px;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);

        &__symbol {
            font-size: 20px;
        }
    }

    canvas {
        position:absolute;
        top:0;
        left:0;
    }
}

.socials {
    display: flex;
    justify-content: space-between;
    width: 130px;

    &__icon {
        fill: $lightgray;
        width: 25px;
        height: 25px;
        transition: 0.3s;

        &:hover {
            fill: $orange;
        }
        
        &:active {
            fill: $darkorange;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    transform: translate(40px, 0) scale(0.9);

    &:hover:after {
        color: $orange;
    }

    &:active:after {
        color: $darkorange;
    }
    
    &:focus {
        border: none;
        outline: none;
    }
}
.swiper-button-prev {
    transform: translate(-40px, 0) scale(0.9);
}

.swiper-button-next:after, 
.swiper-button-prev:after {
    color: $lightgray;
}

.swiper-pagination-bullets {
    --swiper-theme-color: #BB3F0C;
}

.swiper-container-horizontal>.swiper-pagination-bullets {
    z-index: 0;
}

.swiper-pagination-bullet {
    outline: none;
}

@media (max-width: 1400px) {
    .main-title {
        font-size: 55px;
    } 

    .title {
        font-size: 38px;
    }
}

@media (max-width: 1200px) {
    .text {
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .main-title {
        font-size: 45px;
    } 

    .title {
        font-size: 30px;
        margin-bottom: 30px;
    }

    .socials {
        width: 110px;
    }    

    .swiper-button-next {
        transform: translate(-20px, 0) scale(0.9);
    }
    
    .swiper-button-prev {
        transform: translate(20px, 0) scale(0.9);
    }
}

@media (max-width: 600px) {
    .swiper-button-prev,
    .swiper-button-next {
        &:hover:after {
            color: $lightgray;
        }
    }
    .main-title {
        font-size: 40px;
        margin-bottom: 20px;
    } 

    .text {
        font-size: 14px;
    }
}
