$darkgray: #3a3a3a;
$mint: #D9E2DE;
$lightpink: #ffe9eb;
$lightpink1 : #fcd5d7;
$pink: #F4ABAC;
$darkpink: #9E8185;

$lightgray: #C7C7C7;
$orange: #BB3F0C;
$darkorange: rgb(139, 41, 3);

$lightgreen: #CCD1C4;
$lightgreen1: #83A883;
$green: #517765;
$darkgreen: #35514E;
$darkgreen1: #2E4144;

