$darkgray: #3a3a3a;

$lightgray: #C7C7C7;
$lightgray1: #ebe9e9;
$orange: #BB3F0C;
$darkorange: #8b2903;

$lightgreen: #e8eedf;
$lightgreen1: #83A883;
$green: #517765;
$darkgreen: #35514E;
$darkgreen1: #2e4439;

